<%- include('./partials/logout.ejs') %>
<div class="quote">
  <h1 class="quoteTitle">Fuel Quote Submission</h1><br>
  <input type="number" name="gallonsRequested" placeholder="Gallons Requested" required><br>
  <input type="text" name="deliveryAddress" placeholder="Delivery Address"><br>
  <input type="date" id="quote" name="deliveryDate" placeholder="Choose a Delivery Date"<br>
  <input type="text" name="suggestedPrice" placeholder="Suggested Price"><br>
  <input type="text" name="totalAmountDue" placeholder="Total Amount Due"><br>

  <button><a href="/">Submit</a></button><br>
</div>